@keyframes glowing-text {

    0% {
        text-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 19px #fff,
            0 0 40px #0B97FDCE,
            0 0 80px #0B97FDCE,
            0 0 90px #0B97FDCE,
            0 0 100px #0B97FDCE,
            0 0 150px #0B97FDCE;
    }

    25% {
        text-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 19px #fff,
            0 0 40px #0B97FDCE,
            0 0 80px #0B97FDCE,
            0 0 90px #0B97FDCE,
            0 0 70px #0B97FDCE,
            0 0 120px #0B97FDCE;
    }

    50% {
        text-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 19px #fff,
            0 0 40px #0B97FDCE,
            0 0 80px #0B97FDCE,
            0 0 90px #0B97FDCE,
            0 0 40px #0B97FDCE,
            0 0 80px #0B97FDCE;
    }

    75% {
        text-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 19px #fff,
            0 0 40px #0B97FDCE,
            0 0 80px #0B97FDCE,
            0 0 90px #0B97FDCE,
            0 0 70px #0B97FDCE,
            0 0 120px #0B97FDCE;
    }

    100% {
        text-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 19px #fff,
            0 0 40px #0B97FDCE,
            0 0 80px #0B97FDCE,
            0 0 90px #0B97FDCE,
            0 0 100px #0B97FDCE,
            0 0 150px #0B97FDCE;

    }


}